html {
    overflow: hidden;
}

* {
    --bld-vw: var(--tp-blade-value-width, 220px); /* Make tweakpane a little wider*/
}

.draggable-tweakpane {
    min-width: 310px;
}

#corner-div {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 4px;
}